* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body {
  font-weight: 400;
  font-size: 40px;
  font-family: 'Raleway';
} */

/*--------
navigation
--------*/
.nav-container {
  color: #fff;
  background-color: #5995DA;
  padding: 20px;
  display: flex;
  justify-content: flex-end;
  font-size: 40px;
 }

nav a {
   font-size: 40px;
   text-decoration: none;
   color: rgb(255, 255, 255);
   margin: 20px;
   border-bottom: 1px solid #D6E9FE;
   transition: color 0.5s ease-out;
 }

 a:hover {
   color: #D6E9FE;
   border-bottom-color: #D6E9FE;
 }

 @media screen and (max-width: 950px) {
   .nav-container {
     justify-content: space-around;
   }
 }

 @media screen and (max-width: 600px) {
  .nav-container {
    flex-direction: column;
    align-items: center;
  }
}

.header-container {
  color: #5995DA;
  background-color: #D6E9FE;
  display: flex;
  justify-content: center;
}

.header {
  width: 900px;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*---------
portfolio
--------*/
.photo-grid-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.photo-grid {
  /* width: 900px; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  /* align-items: center; */
}

/* .first-item {
  order: 1;
}

.last-item {
  order: -1;
} */

.photo-grid-item {
  border: 1px solid #fff;
  width: 300px;
  height: 300px;
}

.content-header {
  display: flex;
  justify-content: center;
}

/*------
footer
------*/
.footer {
  display: flex;
  justify-content: space-between;
}

.footer-item {
  border: 1px solid white;
  background-color: #D6E9FE;
  height: 200px;
  flex: 1;
}

.footer-one,
.footer-three {
  background-color: #5995DA;
  flex: initial;
  width: 300px;
}