/*#D6E9FE*/
body {
  font-family: 'Raleway';
  border-top: 10px solid #5995DA;
  border-bottom: 10px solid #5995DA;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

/*----------------------------------
           NAVIGATION BAR
----------------------------------*/
nav {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  margin-right: 100px;
  padding: 0 20px 0 20px;
}

nav > a, footer > div > a {
  font-size: 22px;
  color: #6b6b6b;
  margin: 20px;
  text-decoration: none;
  border-bottom: 1px solid #6b6b6b;
  transition: color 0.7s ease-out;
}

/*----------------------------------
      ANIMATION & RESPONSIVENESS
----------------------------------*/
a:hover {
  color: #5995DA;
  border-bottom: #5995DA;
}

main > div > p > a:hover {
  border-bottom: 1px solid #5995DA;
  font-weight: bolder;
}  
@media screen and (max-width: 920px) {
  nav {
    justify-content: space-around;
    margin: 0px;  
  }
  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 25px;
  }
  /* main > div.about > p {
    display: table-cell;
    text-align: center;
  }   */
}

@media screen and (max-width: 620px) {
  nav {
    flex-direction: column;
    align-items: center;
    margin: 0px;
  }
  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
  } 

  /* main > div.about > p {
    display: table-cell;
    text-align: center;
  } */
}

/*----------------------------------
           MAIN CONTENT
----------------------------------*/
img {
  border-radius: 120px;
  margin: 60px 0 30px 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
}

main > div > p > a {
  text-decoration: none;
  color: #5995DA;
}

main > div > img {
  max-width: 200px;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* display: table-cell; */
  text-align: center;
}

p {
  margin: 10px;
}

/*----------------------------------
              FOOTER
----------------------------------*/
footer > div.social-icons {
  margin-bottom: 10px; 
}

footer > div > a {
  font-size: 30px;
  border: none;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 2 1 10%;
  /* margin: 60px 0 0 0; */
  margin: 280px 0 0 0;
}

footer > p {
  flex-grow: 2;
}