/*=================
wrapper band layout
=================*/
body {
  font-family: 'Raleway';
}

.band {
    width: 90%;
    max-width: 1240px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
  }
  
  /*===============
  Responsive layout
  ===============*/
  @media screen and (min-width: 500px) {
    .band {
      grid-template-columns: 1fr 1fr;
    }
    .item-1 {
      grid-column: 1 / span 2;
    }
  }
  
  @media screen and (min-width: 850px) {
    .band {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  
  /*=============================== 
  Style for each card using flexbox
  ================================*/
  .card {
    background: white;
    text-decoration: none;
    color: #444;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    min-height: 100%;
    position: relative;
    top: 0;
    transition: all .1s ease-in;
  }
  
  /* transition effect for card */
  .card:hover {
    top: -2px;
    box-shadow: 0 4px 5px rgba(0,0,0,0.3)
  }
  
  /* Article position */
  article {
    padding: 20px;
  }
  
  /* typography */
  .card h1 {
    font-size: 20px;
    margin: 0;
    color: #333;
  }
  
  .card p { 
    line-height: 1.4;
    flex: 1; /*make p grow to the remaining space*/
  }
   
  .card span {
    font-size: 12px;
    font-weight: bold;
    color: #999;
    text-transform: uppercase;
    letter-spacing: .05em;
    margin: 2em 0 0 0;
  }
  
  /* thumbnail image for each card */
  .card .thumb {
    padding-bottom: 60%;
    background-size: cover;
    background-position: center center;
  }
  
  .card > article {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }